node_modules/
auth.middleware.prac.js
auth.middleware.prac2.js
signin.repo.prac.js
signin.repo.prac2.js
signup.repo.prac.js
signup.ctr.prac.js
auth.middleware.local.js
# Keep environment variables out of version control
.env
node.js copy.yml
node.js-test.yml