name: rabbit's_foot CI

on:
  push:
    branches: [ "main" ]

# workflow 환경 변수 설정

jobs:
  settings:
    runs-on: ubuntu-latest
    steps:
      - name: Set Environment Variables
        run: |
          # 환경 변수를 설정하고 GitHub Environment로 전달
          echo "PROJECT_NAME=${{ secrets.PROJECT_NAME }}"
          echo "BUCKET_NAME=${{ secrets.BUCKET_NAME }}" 
          echo "CODE_DEPLOY_APP_NAME=${{ secrets.CODE_DEPLOY_APP_NAME }}" 
          echo "DEPLOYMENT_GROUP_NAME=${{ secrets.DEPLOYMENT_GROUP_NAME }}" 

  build:
    needs: settings

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: yarn
    #- run: yarn run build --if-present
    # test 코드 넣고 test 하고
    # 노드 모듈 삭제 로직
    - run: rm -rf node_modules

    - name: Create .env file
      run: |
        echo "PORT=${{ secrets.PORT }}" > .env
        echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
        echo "jwt_key=${{ secrets.JWT_KEY }}" >> .env
        echo "AC_KEY=${{ secrets.AC_KEY }}" >> .env
        echo "RF_KEY=${{ secrets.RF_KEY }}" >> .env
      working-directory: ./    

    # S3로 보낼 압축 파일 생성
    - name: zip file
      run: |
        # zip으로 압축파일 생성
        # CI.zip은 압축 파일 이름, 나머지는 압축할 코드 파일 또는 폴더를 지정합니다.
        # workflow와 동일한 위치의 폴더와 파일을 압축합니다.
        zip -qq -r ./$GITHUB_SHA.zip .

    # AWS 인증하기
    - name: AWS configure credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        # 엑세스 키 입력
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        # 엑세스 시크릿 키 입력
        aws-secret-access-key: ${{ secrets.AWS_PRIVATE_ACCESS_KEY }}
        # 지역 설정: 서울
        aws-region: ap-northeast-2

    # S3로 업로드하기
    - name: upload to S3
      run: aws s3 cp ./$GITHUB_SHA.zip s3://$BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip

    # codeDeploy 실행
    - name: request deploy to codedeploy
      run: aws deploy create-deployment 
              --application-name $CODE_DEPLOY_APP_NAME
              --deployment-config-name CodeDeployDefault.AllAtOnce
              --deployment-group-name $DEPLOYMENT_GROUP_NAME
              --s3-location bucket=$BUCKET_NAME,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip

